.main-content {
    display: flex;
    height: 100%;
}

.content {
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
}

.content h2 {
    margin-bottom: 10px; 
    margin-top: 10px;
}