.dateInputField {
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.nav-link,
.nav-link:hover,
.nav-link.active {
  color: black;
}

.charts .col {
  display: flex;
  flex-direction: column;
}

.charts .card {
  flex: 1;
}

#doughnut-chart-Container {
  width: 300px;
  height: auto;
}

.doughnutContainer {
  display: flex;
  gap: 50px;
  align-items: center;
  width: fit-content;
}

#mainContent {
  position: relative;
  height: 100vh;
  width: calc(100% - 15%);
  left: 15%;
  padding: 10px;
}

.form-group {
  margin-bottom: 10px;
}

.custom-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.expired-glow {
  box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.6);
}

/* styles.css */

/* Ensure that images inside the modal are of fixed size */
.item-image {
  width: 150px;
  /* Set a fixed width */
  height: 150px;
  /* Set a fixed height */
  object-fit: cover;
  /* Make sure the image covers the area without distortion */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Add smooth transition for hover effect */
  border-radius: 10px;
  /* Rounded corners for better presentation */
  cursor: pointer;
  /* Pointer cursor to indicate clickability */
}

/* Add hover effect */
.item-image:hover {
  transform: scale(1.1);
  /* Popout effect: image will slightly enlarge */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* Add shadow for better popout effect */
}
