/* Collapse Container */
.order-collapse {
    background-color: #EBEBEB; 
    border-left: 4px solid black; 
    margin: 0; 
    padding: 0; 
}

/* Order Details Container */
.order-collapse .order-details {
    display: flex;
    flex-direction: column;
    padding: 15px; 
}

.order-collapse .order-details td {
    white-space: normal; 
    word-wrap: break-word; 
    overflow-wrap: break-word;
    max-width: 300px;
}

/* Table Styling */


.order-collapse .table-borderless {
    width: 80%;
    background-color: #EBEBEB; 
    border-spacing: 0; 
    table-layout: fixed; 
    margin: 0; 
}

/* Table Cell Styling */
.order-collapse .table-borderless td {
    height: 15%; 
    text-align: center;
    vertical-align: top;
    padding: 15px; 
    word-wrap: break-word;
    background-color: #EBEBEB; 
}

.table-borderless td, 
.table-borderless th {
    border: none;
}