#mainContent {
  position: relative;
  height: 100vh;
  width: calc(100% - 15%);
  left: 15%;
  padding: 10px;
}

#mainPOS {
  position: relative;
  height: 100vh;
  width: calc(100% - 15% - 300px);
  left: 15%;
  right: 300px;
  padding: 10px;
}

#addon-wrapping {
  background-color: white;
  border-right: 0px;
}

#categoryIcon {
  font-size: 30px;
}

#orderNum {
  font-size: 30px;
  font-weight: bold;
}

#imgFood {
  width: 100%;
  height: 100%;
}

#foodCol {
  padding: 10px;
}

#foodName {
  font-size: 16px;
  font-weight: bold;
}

#foodQuantity,
#foodPrice,
#foodAddon {
  font-size: 14px;
}

#foodPrice {
  font-weight: bold;
  color: green;
}

#orderTotal1 {
  background-color: #f4f4f4;
}

#totalDetails1,
#totalDetails2,
#totalDetails3,
#totalValue1,
#totalValue2,
#totalValue3 {
  font-size: 14px;
  font-weight: lighter;
  color: #6a6a6a;
}

#btnEdit {
  font-size: 14px;
  text-decoration: none;
  padding: 0px;
  padding-left: 12px;
}

#productImage {
  width: auto;
  height: auto;
  border-radius: 10px;
}




#productBody {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
}

#productName {
  font-size: 16px;
  font-weight: bold;
}

.btn-custom-outline{
  --bs-btn-color: #000000;
  --bs-btn-border-color: #dadada;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0d6efd;
  --bs-btn-hover-border-color: #0d6efd;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0d6efd;
  --bs-btn-active-border-color: #0d6efd;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0d6efd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0d6efd;
  --bs-gradient: none;
}

.nav-item:hover .nav-link {
  background-color: #0d6efd;
  color: white;
}

#productCard{
  height: 100%;
  width: 100%;
}
#productCard .card-body {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

