body {
  background-color: #e5e7eb;
  font-family: Arial, sans-serif;
}

#main-content {
  max-width: calc(100% - 20% - 40px); /* Adjusted width to match the sidenav */
  margin-left: 20%; /* Adjusted margin to account for the sidenav */
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: #6b7280;
  margin-bottom: 20px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

form label {
  font-weight: bold;
  color: #374151;
  margin-bottom: 5px;
  display: block;
}

form input, form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  background-color: #f3f4f6;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  background-color: #374151;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #2d3748;
}
