.dateInputField {
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.nav-link,
.nav-link:hover,
.nav-link.active {
  color: black;
}

.charts .col {
  display: flex;
  flex-direction: column;
}

.charts .card {
  flex: 1; /* Make all cards equal height */
}

#doughnut-chart-Container {
  width: 300px;
  height: auto;
}

.doughnutContainer {
  display: flex;
  gap: 50px;
  align-items: center;
  width: fit-content;
}

#mainContent{
  position: relative;
  height: 100vh;
  width: calc(100% - 200px);
  left: 200px;
}